language: android
dist: trusty
android:
  components:
    # The BuildTools version used by your project
    - build-tools-30.0.1

    # The SDK version used to compile your project
    - android-30

    # Additional components
    - extra-google-m2repository
    - extra-android-m2repository
    - tools
    - platform-tools
before_install:
  - chmod +x gradlew
script:
  - ./gradlew test


